*, *::before, *::after {
    box-sizing: border-box;
  }


body {
    background-color: $verydarkblue;
    color: $white;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 11em;
}


#card{
    display: flex;
    flex-direction: row;
}

.left {
    background-color: $darkblue;
    width: 35.5625em;
    height: 27.9375em;
    padding-left: 4.6875em;
    padding-right: 7.625em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em 0 0 0.5em;
}

.left > p {
    color: $whiteparagraph;
}

span{
    color: $softviolet;
}


.stat { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 5.125em;
    margin-top: 3.1875em;
}

.stat > .stat-item  {
    justify-content: space-around;
    padding-left: 4.1875em;
}

.stat > .stat-item > h2 {
    margin-bottom: 1.125em;
}
.stat > .stat-item > h5 {
    color: $whitestat;
    margin-top: -1.8125em;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: lighter;
}

.right {
    width: 33.875em;
    height: 27.9375em;
    background-color: $softviolet;
    border-radius: 0 0.5em 0.5em 0;
}

.right img, ::after {
    mix-blend-mode: multiply;
    width: inherit;
    height: inherit;
}

.attribution {
    margin-top: 2em;
    font-family: 'Lexend Deca', sans-serif;
    color: $whitestat;
}

.attribution > a {
    text-decoration: none;
    color: $whitestat;
}

@media screen and (max-width: 375px) {
body {
    margin-top: 3em;
}
#card {
    display: flex;
    flex-direction: column-reverse;
}

.right {
    width: 20.3125em;
    height: 14.8125em;
    border-radius: 0.5em 0.5em 0 0;
}

.left {
    width: 20.3125em;
    height: 33.8125em;
    display: inline-block;
    text-align: center;
    padding-left: 1.5625em;
    padding-right: 1.5625em;
    padding-top: 1.5625em;
    border-radius: 0 0 0.5em 0.5em;
}

#card{
    display: flex;
    flex-direction: column-reverse;
}

.stat { 
    display: inline-block;
    margin-top: 0.1875em;
    padding-left: 1.21875em;
}

.stat > .stat-item  {
    margin-bottom: 1.75em;
}

.stat > .stat-item > h2 {
    margin-bottom: 1.125em;
}
.attribution {
    display: inline-block;
    text-align: center;
    margin-top: 0.9375em;
}
}






