// colors //

//primary //
$verydarkblue: hsl(233, 47%, 7%);
$darkblue: hsl(244, 38%, 16%);
$softviolet: hsl(277, 64%, 61%);

//neutral
$white: hsl(0, 0%, 100%);
$whiteparagraph: hsla(0, 0%, 100%, 0.75);
$whitestat: hsla(0, 0%, 100%, 0.6);


